<html>
<hea>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}"></hea>
<div class="container-fluid">
  <div class="px-lg-5">

    <!-- For demo purpose -->
    <div class="row py-5">
      <div class="col-lg-12 mx-auto">
        <div class="text-white p-5 shadow-sm rounded banner">
          <h1 class="display-4">Image2Image gallery</h1>
          <p class="lead">Upload Image For Search :</p>
           <div class="mb-3"><label for="formFileSm" class="form-label">Revelent Images with be displayed : </label>
             <form method="POST" enctype="multipart/form-data">
                <input class="form-control form-control-sm" id="formFileSm" type="file" name="query_img">
             </br>
               <input type="submit" class="btn btn-primary btn-lg btn-block">
            </form>
             {% if query_path %}
             <h2 style="text-align:center">Query:</h2>


    <img src="{{ query_path }}" class="center" width="300px" height="300px">{%endif%}

</div>

        </div>
      </div>
    </div>
    <!-- End -->





       <div class="row">
              {% for score in scores %}
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{ score[1] }}" height="200px" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">{{ score[0] }}</a></h5>
            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>
              <div class="badge badge-danger px-3 rounded-pill font-weight-normal">New</div>
            </div>
          </div>

        </div>

      </div>
           {% endfor %}

      <!-- End -->

<!--      &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-2.jpg" alt="" class="img-fluid card-img-top">-->
<!--          <div class="p-4">-->
<!--            <h5> <a href="#" class="text-dark">Blorange</a></h5>-->
<!--            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">PNG</span></p>-->
<!--              <div class="badge badge-primary px-3 rounded-pill font-weight-normal">Trend</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; End &ndash;&gt;-->

<!--      &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-3.jpg" alt="" class="img-fluid card-img-top">-->
<!--          <div class="p-4">-->
<!--            <h5> <a href="#" class="text-dark">And She Realized</a></h5>-->
<!--            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>-->
<!--              <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Featured</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; End &ndash;&gt;-->

<!--      &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-4.jpg" alt="" class="img-fluid card-img-top">-->
<!--          <div class="p-4">-->
<!--            <h5> <a href="#" class="text-dark">DOSE Juice</a></h5>-->
<!--            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPEG</span></p>-->
<!--              <div class="badge badge-success px-3 rounded-pill font-weight-normal">Hot</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; End &ndash;&gt;-->

<!--      &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-5.jpg" alt="" class="img-fluid card-img-top">-->
<!--          <div class="p-4">-->
<!--            <h5> <a href="#" class="text-dark">Pineapple</a></h5>-->
<!--            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">PNG</span></p>-->
<!--              <div class="badge badge-primary px-3 rounded-pill font-weight-normal">New</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; End &ndash;&gt;-->

<!--      &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-6.jpg" alt="" class="img-fluid card-img-top">-->
<!--          <div class="p-4">-->
<!--            <h5> <a href="#" class="text-dark">Yellow banana</a></h5>-->
<!--            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>-->
<!--              <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Featured</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; End &ndash;&gt;-->

<!--      &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-7.jpg" alt="" class="img-fluid card-img-top">-->
<!--          <div class="p-4">-->
<!--            <h5> <a href="#" class="text-dark">Teal Gameboy</a></h5>-->
<!--            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPEG</span></p>-->
<!--              <div class="badge badge-info px-3 rounded-pill font-weight-normal">Hot</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; End &ndash;&gt;-->

<!--      &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-8.jpg" alt="" class="img-fluid card-img-top">-->
<!--          <div class="p-4">-->
<!--            <h5> <a href="#" class="text-dark">Color in Guatemala.</a></h5>-->
<!--            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">PNG</span></p>-->
<!--              <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Featured</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; End &ndash;&gt;-->

<!--      &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-1.jpg" alt="" class="img-fluid card-img-top">-->
<!--          <div class="p-4">-->
<!--            <h5> <a href="#" class="text-dark">Red paint cup</a></h5>-->
<!--            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>-->
<!--              <div class="badge badge-danger px-3 rounded-pill font-weight-normal">New</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; End &ndash;&gt;-->

<!--      &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-2.jpg" alt="" class="img-fluid card-img-top">-->
<!--          <div class="p-4">-->
<!--            <h5> <a href="#" class="text-dark">Lorem ipsum dolor</a></h5>-->
<!--            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">PNG</span></p>-->
<!--              <div class="badge badge-primary px-3 rounded-pill font-weight-normal">Trend</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; End &ndash;&gt;-->

<!--      &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-3.jpg" alt="" class="img-fluid card-img-top">-->
<!--          <div class="p-4">-->
<!--            <h5> <a href="#" class="text-dark">Lorem ipsum dolor</a></h5>-->
<!--            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPG</span></p>-->
<!--              <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white">Featured</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; End &ndash;&gt;-->

<!--      &lt;!&ndash; Gallery item &ndash;&gt;-->
<!--      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">-->
<!--        <div class="bg-white rounded shadow-sm"><img src="https://bootstrapious.com/i/snippets/sn-gallery/img-4.jpg" alt="" class="img-fluid card-img-top">-->
<!--          <div class="p-4">-->
<!--            <h5> <a href="#" class="text-dark">Lorem ipsum dolor</a></h5>-->
<!--            <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
<!--            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">-->
<!--              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">JPEG</span></p>-->
<!--              <div class="badge badge-success px-3 rounded-pill font-weight-normal">Hot</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; End &ndash;&gt;-->

    </div>
    <div class="py-5 text-right"><a href="#" class="btn btn-dark px-5 py-3 text-uppercase">Show me more</a></div>
  </div>
</div>
</html>